@import url('./global.css');

body{
    /* background-color: var(--variable-example); */
}

.bgdark{
    background-color: var(--variable-example);
}


.custom-toggler .navbar-toggler-icon {
    background-image: none;
    color: #ffc107 ;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-toggler .navbar-toggler-icon::before {
    content: "☰"; /* Ícone de menu */
    font-size: 24px;
}
button.navbar-toggler{
    border: rgb(226, 203, 35) 1px solid;
}

.hero{
    margin-top: 56px;
    background: url('../assets/images/hero.jpg');
    height: 100vh;
    display: flex;
   
    text-align: center;
    background-repeat: no-repeat;
    background-position: right;

    justify-content: center;
    align-items: center;
    color: #fff;
}

@media (max-width: 768px) {
    .hero{
        background-position: center;
    }
}